.projects-container {
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: flex-start; /* Align items to the left */
}

.project-card {
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  padding: 20px;
  text-align: left; /* Align text to the left */
  transition: transform 0.2s;
  width: 100%; /* Make the card take full width */
  max-width: 800px; /* Set a maximum width */
}

.project-card:first-child {
  margin-top: 40px; /* Add margin to the first project card */
}

.project-card:hover {
  transform: translateY(-10px);
}

.project-card a {
  color: inherit;
  text-decoration: none;
}

.project-card h3 {
  margin-top: 0;
}

.project-card p {
  color: #666;
}